Analysis on ...

From Data to model
In this notebook we will take a dataset, clean it, train a model, and make a predictions

Steps:
1. Import libraries 
2. Load dataset
3. Make a copy of original dataset
4. We will use the copy for further processing
5. Check for inconsistencies and missing values, duplicates
6. Split the data set in train/test
7. Separate the categorical and numerical features
8. Check for missing and handle missing values in categorical and numerical using simple imputer
10.Fit model and evaluate it

Step 1: Start importing libraries

In [2]:
import pandas as pd # handles dataframe
import numpy as np #handles array
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn import set_config #draws the diagram of the pipeline
set_config(display='diagram')
pd.set_option('display.max_rows', None)

In [3]:
path = './AKC Breed Info.csv'
dog_breed_df = pd.read_csv(path)
dog_breed_df.info()
dog_breed_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   index               150 non-null    int64
 1   Breed               150 non-null    object
 2   height_low_inches   150 non-null    object
 3   height_high_inches  150 non-null    object
 4   weight_low_lbs      150 non-null    object
 5   weight_high_lbs     150 non-null    object
dtypes: int64(1), object(5)
memory usage: 7.2+ KB

,index,Breed,height_low_inches,height_high_inches,weight_low_lbs,weight_high_lbs
0,0,Akita,26,28,80,120
1,1,Anatolian Sheepdog,27,29,100,150
2,2,Bernese Mountain Dog,23,27,85,110
3,3,Bloodhound,24,26,80,120
4,4,Borzoi,26,28,70,100

In [4]:
# copy of dataframe
dog_breed_df_copy = dog_breed_df.copy()

In [5]:
# 150 rows 6 columns
dog_breed_df.shape

(150, 6)

In [7]:
dog_breed_df.describe

<bound method NDFrame.describe of      index                               Breed height_low_inches  \
0        0                               Akita                26
1        1                  Anatolian Sheepdog                27
2        2                Bernese Mountain Dog                23
3        3                          Bloodhound                24
4        4                              Borzoi                26
5        5                         Bullmastiff                25
6        6                          Great Dane                32
7        7                      Great Pyrenees                27
8        8            Great Swiss Mountain Dog                23
9        9                     Irish Wolfhound                28
10      10                              Kuvasz                28
11      11                             Mastiff                27
12      12                  Neopolitan Mastiff                24
13      13                        Newfoundland                26
14      14                         Otter Hound                24
15      15                          Rottweiler                22
16      16                       Saint Bernard                25
17      17                        Afghan Hound                25
18      18                    Alaskan Malamute                na
19      19                   American Foxhound                22
20      20                           Beauceron                24
21      21                    Belgian Malinois                22
22      22                    Belgian Sheepdog                22
23      23                    Belgian Tervuren                22
24      24             Black And Tan Coonhound                23
25      25               Black Russian Terrier                25
26      26                Bouvier Des Flandres                23
27      27                               Boxer                21
28      28                              Briard                23
29      29            Chesapeake Bay Retriever                21
30      30                     Clumber Spaniel                19
31      31           Collie (Rough) & (Smooth)                22
32      32              Curly Coated Retriever                25
33      33                   Doberman Pinscher                26
34      34                    English Foxhound                22
35      35                      English Setter                23
36      36                 German Shepherd Dog                22
37      37          German Shorthaired Pointer                20
38      38           German Wirehaired Pointer                22
39      39                     Giant Schnauzer                25
40      40                    Golden Retriever                21
41      41                       Gordon Setter                23
42      42                           Greyhound                27
43      43                        Irish Setter                25
44      44                            Komondor              26.5
45      45                  Labrador Retriever                21
46      46      Old English Sheepdog (Bobtail)                20
47      47                     Poodle Standard                15
48      48                 Rhodesian Ridgeback                24
49      49                  Scottish Deerhound                28
50      50                    Spinone Italiano                23
51      51                     Tibetan Mastiff                24
52      52                          Weimaraner                25
53      53                     Airdale Terrier                22
54      54      American Staffordshire Terrier                17
55      55              American Water Spaniel                15
56      56               Australian Cattle Dog                17
57      57                 Australian Shepherd                18
58      58                        Basset Hound                14
59      59                      Bearded Collie                20
60      60                       Border Collie                19
61      61                            Brittany                17
62      62                            Bull Dog                12
63      63                        Bull Terrier                21
64      64                          Canaan Dog                19
65      65                    Chinese Shar Pei                18
66      66                           Chow Chow                19
67      67             Cocker Spaniel-American                15
68      68              Cocker Spaniel-English                15
69      69                           Dalmatian                19
70      70            English Springer Spaniel                20
71      71                       Field Spaniel                18
72      72               Flat Coated Retriever                22
73      73                       Finnish Spitz                15
74      74                             Harrier                19
75      75                        Ibizan Hound                22
76      76                       Irish Terrier                18
77      77                 Irish Water Spaniel                10
78      78                            Keeshond                17
79      79                  Kerry Blue Terrier                17
80      80                  Norwegian Elkhound                19
81      81  Nova Scotia Duck Tolling Retriever                17
82      82        Petit Basset Griffon Vendeen                13
83      83                       Pharaoh Hound                21
84      84                         Plott Hound                20
85      85                             Pointer                21
86      86             Polish Lowland Sheepdog                16
87      87                Portuguese Water Dog                20
88      88                   Redbone Coonhound                21
89      89                              Saluki                23
90      90                             Samoyed                19
91      91                      Siberian Husky                20
92      92         Soft-Coated Wheaten Terrier                18
93      93          Staffordshire Bull Terrier                14
94      94                  Standard Schnauzer                17
95      95                      Sussex Spaniel                15
96      96                              Vizsla                48
97      97              Welsh Springer Spaniel                16
98      98         Wirehaired Pointing Griffon                20
99      99                     American Eskimo                 9
100    100                  Australian Terrier                10
101    101                             Basenji                17
102    102                              Beagle                13
103    103                  Bedlington Terrier                15
104    104                        Bichon Frise               9.5
105    105                      Border Terrier                12
106    106                      Boston Terrier                14
107    107                    Brussels Griffon                 7
108    108                       Cairn Terrier                 9
109    109                Cardigan Welsh Corgi                10
110    110       Cavalier King Charles Spaniel                10
111    111                     Coton de Tulear         not found
112    112                           Dachshund                 7
113    113              Dandie Dinmont Terrier                18
114    114                 English Toy Spaniel                10
115    115              Fox Terrier ‰ÛÒ Smooth                13
116    116            Fox Terrier ‰ÛÒ Wirehair                13
117    117                      French Bulldog                11
118    118                     German Pinscher                16
119    119                  Glen Imaal Terrier                14
120    120                    Lakeland Terrier                13
121    121       Manchester Terrier (Standard)                15
122    122                    Poodle Miniature                10
123    123                                 Pug                10
124    124                                Puli                16
125    125                          Schipperke                10
126    126                    Scottish Terrier                10
127    127                    Sealyham Terrier                12
128    128         Shetland Sheepdog (Sheltie)                13
129    129                           Shiba Inu                13
130    130                            Shih Tzu                 8
131    131                       Silky Terrier                 9
132    132                        Skye Terrier                10
133    133                     Tibetan Spaniel                10
134    134                     Tibetan Terrier                14
135    135                       Welsh Terrier                15
136    136         West Highland White Terrier                11
137    137                             Whippet                18
138    138                       Affenpinscher                 9
139    139                           Chihuahua                 6
140    140                     Chinese Crested                11
141    141                   Italian Greyhound                12
142    142                       Japanese Chin                 8
143    143                             Maltese                 8
144    144            Manchester Terrier (Toy)                10
145    145                            Papillon                 8
146    146                          Pomeranian                12
147    147                          Poodle Toy                10
148    148                     Toy Fox Terrier                10
149    149                   Yorkshire Terrier                 8

    height_high_inches weight_low_lbs weight_high_lbs
0                   28             80             120
1                   29            100             150
2                   27             85             110
3                   26             80             120
4                   28             70             100
5                   27            100             130
6                   32            120             160
7                   32             95             120
8                   28            130             150
9                   35             90             150
10                  30             70             120
11                  30            175             190
12                  30            100             150
13                  28            100             150
14                  26             65             110
15                  27             90             110
16                  28            110             190
17                  27             50              60
18                  na             na              na
19                  25             65              70
20                  27            100             120
21                  26             60              65
22                  26             60              75
23                  26             60              75
24                  27             50              75
25                  29             80             140
26                  27             75              95
27                  25             65              70
28                  27             74              76
29                  26             55              75
30                  20             35              65
31                  26             50              75
32                  27             65              80
33                  28             60             100
34                  25             65              70
35                  27             45              80
36                  26             75              90
37                  27             50              80
38                  26             60              70
39                  28             70              75
40                  24             55              75
41                  27             45              80
42                  30             60              70
43                  27             60              70
44                35.5             80             135
45                  24             55              80
46                  24             60              65
47                  25             45              45
48                  27             70              85
49                  32             75             110
50                  28             65              80
51                  26            140             170
52                  27             70              85
53                  24             45              45
54                  19             40              50
55                  18             25              45
56                  20             35              45
57                  23             40              60
58                  14             40              50
59                  22             40              60
60                  21             40              40
61                  21             30              40
62                  16             50              60
63                  22             50              70
64                  24             35              55
65                  20             45              55
66                  22             45              55
67                  16             22              28
68                  17             25              35
69                  23             45              70
70                  20             45              55
71                  18             35              50
72                  23             60              70
73                  20             31              35
74                  21             40              60
75                  29             42              55
76                  19             25              27
77                  23             45              65
78                  19             35              50
79                  21             30              45
80                  20             40              60
81                  21             35              50
82                  15             30              40
83                  25             45              55
84                  24             45              55
85                  24             44              66
86                  20             30              35
87                  23             42              60
88                  27             50              70
89                  28             35              70
90                  24             50              65
91                  23             40              60
92                  20             35              45
93                  16             24              28
94                  19             33              33
95                  16             40              45
96                  66             22              25
97                  19             35              45
98                  24             45              60
99                  19             25              30
100                 10             10              14
101                 17             20              22
102                 16             18              30
103                 16             18              23
104               11.5             10              18
105                 15             12              15
106                 15             15              25
107                  8              6              12
108                 10             14              14
109                 12             25              35
110                 15             15              20
111          not found      not found       not found
112                 10             16              32
113                 24              8              11
114                 10              9              15
115                 16             15              20
116                 16             15              20
117                 12             17              28
118                 19             25              35
119                 14             34              36
120                 14             15              17
121                 16             17              18
122                 15             20              20
123                 11             14              22
124                 17             29              33
125                 13             12              18
126                 12             18              22
127                 12             18              20
128                 16             14              20
129                 16             15              30
130                 11              9              16
131                 10              8              11
132                 10             25              25
133                 10              9              15
134                 17             20              30
135                 15             20              21
136                 11             13              15
137                 22             27              30
138                 12              8              12
139                  9              2               5
140                 13              5              12
141                 15              6              10
142                 11              4              11
143                 10              4               6
144                 12              6               8
145                 11              5              10
146                 12              3               7
147                 10             10              10
148                 10              4               7
149                  8              3               7  >

In [8]:
# checking for dups
dog_breed_df.duplicated().sum()

0

In [9]:
# checking for na values
dog_breed_df.isna().sum()

index                 0
Breed                 0
height_low_inches     0
height_high_inches    0
weight_low_lbs        0
weight_high_lbs       0
dtype: int64

In [ ]:
# type 
type(dog_breed_df)
# head
dog_breed_df['Breed'].head()
# tail
dog_breed_df['Breed'].tail()
# selecting certain amount of rows from a column
dog_breed_df['Breed'][10:30]

# type(dog_breed_df['height_high_inches'])
# dog_breed_df.dtypes
# dog_breed_df['height_high_inches'].value_counts()
dog_breed_df = dog_breed_df.drop(111)
dog_breed_df

In [ ]:
# change height/ weight into integers
# dog_breed_df.isna().sum() #this still has a na value with it, why?
dog_breed_df = dog_breed_df.drop(18)
dog_breed_df

In [2]:
# dog_breed_df['height_high_inches'] = dog_breed_df['height_high_inches'].astype('float')
dog_breed_df['height_low_inches'] = dog_breed_df['height_low_inches'].astype('float')
dog_breed_df['weight_low_lbs'] = dog_breed_df['weight_low_lbs'].astype('float')
dog_breed_df['weight_high_lbs'] = dog_breed_df['weight_height_lbs'].astype('float')
dog_breed_df

NameError: name 'dog_breed_df' is not defined

In [23]:
# selecting columns through .loc method
dog_breed_df.loc[:,['Breed']]
# .loc with head method
dog_breed_df.loc[:,['Breed']].head()

                  Breed
0                 Akita
1    Anatolian Sheepdog
2  Bernese Mountain Dog
3            Bloodhound
4                Borzoi